.rex-list-item-info {
  margin-left: 1rem;
  padding-top: 5px;
  width: 40%;
}

.rex-list-item {
  display: flex;
  position: relative;
  margin-bottom: 1.5rem;
  background: #ebebeb;
  border-radius: 4px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.rex-info-from {
  margin: 0;
  font-size: 0.6rem;
  color: grey;
}
.rex-info-comment {
  margin: 0.5rem 0;
  font-size: 0.7rem;
  color: #cd6b5c;
  white-space: normal;
}
.rex-info-title {
  color: #1e6f64;
  font-size: 0.9rem;
  margin: 0;
}
.rex-list-button-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 100%;
}

.rex-list-button {
  margin-right: 10px;
}

.rex-img {
  width: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
