{
  "extends": ["eslint-config-wesbos"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false
      }
    ],
    "no-console": "warn",
    "react/prop-types": "warn",
    "react/destructuring-assignment": "warn",
    "react/no-unused-state": "warn",
    "consistent-return": "off",
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "no-unused-vars": ["warn", { "argsIgnorePattern": "req|res|next|val|err" }]
  }
}
