.nav-bar {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  height: 3rem;
  margin: auto;
}

.search-bar {
  margin: auto;
  position: relative;
}

.home-btn {
  height: 1rem;
  margin: auto;
}

.search-icon {
  height: 20px;
  position: absolute;
  top: 3px;
  right: 8px;
  opacity: 0.3;
}

.search-input {
  height: 23px;
}

.settings-btn {
  outline: none;
  border: none;
  background: none;
}

.settings-icon {
  height: 23px;
  opacity: 0.5;
}

.settings-menu {
  background: #f1f1f1;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 47px;
  right: 0;
  padding: 10px;
  border-radius: 4px;
}

.signout-btn {
  border: none;
  background: none;
  cursor: pointer;
}
