.nav-bar {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  height: 3rem;
  margin: auto;
}

.search-bar {
  margin: auto;
  position: relative;
}

.home-btn {
  height: 1rem;
  margin: auto;
}

.search-icon {
  height: 20px;
  position: absolute;
  top: 3px;
  right: 8px;
  opacity: 0.3;
}

.search-input {
  height: 23px;
}
