.link-container {
  display: flex;
  flex-direction: column;
}

.modal-window {
  width: 30%;
  height: 20rem;
  background: white;
  z-index: 2;
  position: relative;
  margin: 20px auto;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  margin: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.modal-content button,
.modal-content input {
  margin: 1rem;
}

.add-film-drop-down {
  border: solid 2px lightgrey;
  height: 10rem;
  padding: 2rem;
}

.auto-complete-list {
  list-style: none;
}

.drop-down-image {
  width: 42px;
}

.profile-pic {
  border: 2px solid lightgrey;
}

.profile-header {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}

.send-rex-btn {
  height: 20px;
}

.handle-send-rex-btn-container {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.handle-title {
  font-size: 10;
  margin: 0;
  padding-bottom: 10px;
}

.tab-header {
  outline: none;
  background: none;
  border: none;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 0;
  padding-left: 0;
  cursor: pointer;
}

.selected-tab {
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}

.rex-list-item-info {
  margin-left: 1rem;
  padding: 1rem 0;
}

.rex-list-item {
  display: flex;
  margin-bottom: 2rem;
  background: #ebebeb;
}
.rex-info-p-tag {
  margin: 0.5rem 0;
  font-size: 0.7rem;
}

.rex-list {
  margin-top: 3rem;
}

.rex-img {
  width: 70px;
}

.large-film-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  width: 300px;
  overflow-x: auto;
  white-space: nowrap;
}
.small-tile-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.large-film-img,
.empty-tile-btn {
  width: 131px;
  height: 178px;
}

.empty-tile-btn {
  background: #ebebeb;
  outline: none;
  border: 1px dashed #a7a6a6;
  border-radius: 4px;
  display: inline-block;
}
.small-film-img {
  width: 100px;
}
.small-tile-section {
  margin-top: 2rem;
}

.cropped-to-square {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
}

.onhover-tile-btn-container {
  position: absolute;
  top: 10px;
  left: 0px;
}

.onhover-tile-btn {
  background: white;
}
.large-film-tile {
  position: relative;
}
