@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');

body {
  font-family: 'Red Hat Text', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

button {
  font-family: 'Red Hat Text', sans-serif;
}
.page-content {
  margin: auto;
  height: 100vh;
}

@media only screen and (min-width: 1000px) {
  .page-content {
    width: 50%;
    max-width: 50%;
  }
  .modal-window {
    width: 40%;
    max-width: 40%;
  }
}
@media only screen and (min-width: 500px) {
  .page-content {
    width: 70%;
  }
  .modal-window {
    width: 50%;
  }
}
